<div class="user-admin">
  <form [formGroup]="userForm">
    <input type="hidden" formControlName="id" />
  
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="user-name">Nome:</label>
          <input
            id="user-name"
            type="text"
            formControlName="name"
            class="form-control"
            [readonly]="mode === 'remove'"
            placeholder="Informe o Nome do Usuario..."
            required
          />
        </div>
      </div>
  
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="user-email">E-mail:</label>
          <input
            id="user-email"
            type="text"
            formControlName="email"
            class="form-control"
            [readonly]="mode === 'remove'"
            placeholder="Informe o E-mail do Usuario..."
            required
          />
        </div>
      </div>
  
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="user-balance">Saldo:</label>
          <input
            id="user-balance"
            type="text"
            formControlName="balance"
            class="form-control"
            [readonly]="mode === 'remove'"
            placeholder="Informe o Saldo do Usuario..."
            required
          />
        </div>
      </div>
  
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label for="user-imageUrl">Imagem (URL):</label>
          <input
            id="user-imageUrl"
            type="text"
            formControlName="imageUrl"
            class="form-control"
            [readonly]="mode === 'remove'"
            placeholder="Informe a URL da Imagem..."
            required
          />
        </div>
      </div>
    </div>
  
    <div *ngIf="mode === 'save'">
      <div class="form-check">
        <input
          id="user-admin"
          type="checkbox"
          formControlName="admin"
          class="form-check-input"
        />
        <label for="user-admin" class="form-check-label">Administrador?</label>
      </div>
  
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="user-password">Senha:</label>
            <input
              id="user-password"
              type="password"
              formControlName="password"
              class="form-control"
              placeholder="Informe a Senha do Usuario..."
              required
            />
          </div>
        </div>
  
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="user-confirm-password">Confirmação de Senha:</label>
            <input
              id="user-confirm-password"
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Confirme a Senha do Usuario..."
              required
            />
          </div>
        </div>
      </div>
    </div>
  
    <br />
  
    <div class="row">
      <div class="col-12">
        <button
          *ngIf="mode === 'save'"
          class="btn btn-success"
          (click)="save()"
        >
          Salvar
        </button>
        <button
          *ngIf="mode === 'remove'"
          class="btn btn-danger"
          (click)="remove()"
        >
          Excluir
        </button>
        <button class="btn btn-secondary ml-1" (click)="reset()">Cancelar</button>
      </div>
    </div>
  </form>
  
  <hr />
  
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th *ngFor="let field of fields">{{ field.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="users.length === 0">
        <td [attr.colspan]="fields.length">Nenhum dado disponível</td>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.balance }}</td>
        <td>{{ user.admin ? 'Sim' : 'Não' }}</td>
        <td>
          <button class="btn btn-warning mr-1" (click)="loadUser(user, 'save')">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger mr-3" (click)="loadUser(user, 'remove')">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
  